# Ignore VS build folders
BE/**/bin/
BE/**/obj/
BE/**/.vs/

# Ignore VS Code workspace
BE/**/.vscode/

# Ignore temporary or cache files
BE/**/*.db
BE/**/*.vsidx
BE/**/*.v2
BE/**/DesignTimeBuild/

# Optional: Ignore user-specific files
*.user
*.suo
